html{
    background-color: #24262e

}
button{
    background-color: #04294e;
    color: #d6d6d6;
    border-radius: 5px;
}
body{
    color: #d6d6d6;
    font-family: 'Open Sans';
    top: 200px;
}
#LogIn{
    position: fixed;
    top: 50px;
    right: 50px;
}
#SignUp{
    position:fixed;
    top: 50px;
    right: 120px;
}
textarea{
    width: 500px;
    height: 500px;
}
#taskbar {
    position: fixed;
    top: 0;
    left: -200px; /* initially hide the taskbar */
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border-style: inherit;
    transition: left 0.3s;
    z-index: 1000;
}
#taskbar:hover {
    left: 0; /* show the taskbar when hovered */
}
